.hero {
  height: 51vh;

  &__image {
    height: 15.625rem;
    background-image: url('/images/hero-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    @include breakpoint-up(test) {
      height: auto;
      background-image: url('/images/hero-desktop.jpg');
      grid-area: hero-image;
    }
  }

  h1:first-child {
    color: $desaturedRed;
  }

  &__info {
    text-align: center;
    min-height: 100%;
    padding-top: 2.75rem;
    background-image: $linearGrad-1;

    @include breakpoint-up(test) {
      text-align: left;
    }
  
    p {
      font-size: 0.75rem;
      padding: 1rem 2.5rem 0 2.5rem;
      line-height: 1.6;
    }

    @include breakpoint-up(test) {
      grid-area: hero-info;
    }
  }
  
  &__cta {
    text-align: center;
    padding-top: 1rem;
    position: relative;
  }

  &__input {
    border-radius: 50px;
    height: 2.8125rem;
    width: 18.75rem;
    text-indent: 10px;
    border: 1px solid $darkGrayishRed;
  }

  &__button {
    background-color: $softRed;
    border-radius: 50px;
    height: 45px;
    width: 60px;
    position: absolute;
    right: 40px;
    border: 1px solid $darkGrayishRed;
    box-shadow: -1px -1px 2px 2px rgba(0, 0, 0, 0.2) ;

    img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }

  }

}