.grid {

  display: grid;
  min-height: 100vh;  
  padding: 7rem;

  @include breakpoint-up(test) {
    grid-template-columns: repeat(1, 2fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "header hero-image"
      "hero-info hero-image";
  }
}
